# ==========================================
# .gitignore per Progetto NBA - Knowledge Graph
# ==========================================

# AMBIENTI VIRTUALI
.venv/
venv/
env/
SII/
.conda/

# CACHE E FILE COMPILATI DI PYTHON
__pycache__/
*.py[cod]
*$py.class

# JUPYTER NOTEBOOK
.ipynb_checkpoints/

# WEAVIATE E DATABASE LOCALI
weaviate_data/
*.db

# FILE DI SISTEMA OPERATIVO E IDE
.DS_Store
Thumbs.db
.vscode/
.idea/